@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,900");


*{
    font-family: sans-serif,"Poppins";
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.pagelogin{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: violet ;
    background: url(66529fd9cae5f86b1a49d28e39df7d94.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1{
 font-size: 36px;
 text-align: center;   
}

.wrapper .input-box{
    width: 100%;
    height: 50px;
    background:transparent;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.input-box i {
    position: absolute;
    right: 20px;
    top : 50%;
    transform: translateY(-50%);
    font-size: 20px;
} 
.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.remember-forgot label-input {
    accent-color: #fff;
    margin-right: 3px;
}
.remember-forgot a {
    color: #fff;
    text-decoration: none;
}
.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px 0 15px;
}

.register-link p a:hover{
    text-decoration: underline;
}

.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.container {
    display: flex;
    flex-direction: row;
    align-items: center;

}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 60px;
    height: 100vh;
    color: antiquewhite;
    overflow: hidden;
    transition: all 0.5s linear;
    background-color: #521950;
}
.sidebar:hover {
    width: 210px;
    transition: 0.5s;
}

.logo{
    position: relative;
    top: 100px;
    height: 80px;
    padding: 0px;

}
.main{
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}
.main li{
    padding: 1rem;
    margin: 10px;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;

}
.main li:hover,
.active{
    background-color: #AD6FEF;
    text-align: left;

}
.main a{
    color: #caabcf;
    font-size: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 15px;
}
.menu a span{
    overflow: hidden;
    font-size: 10px;
}
.menu a i{
    font-size: 1.2rem;
}
.logout{
    position: relative;
    top: 350px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.content{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin-left: 220px;
    margin-top: 50px;
}
.header{
    background-color: #882897;
    height: 70px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    z-index: 2;
    padding-right: 30px;
    border-radius: 10px;
    
}
.headertitel{
    margin-top: -40px;
    text-align: left;
    justify-content:  center;
    color: white;
}
.image{
    width: 10px;
    height: 10px;
    cursor: pointer;
    border-radius:50%;  
}
h2{
    position: relative;
    top: 20px;
    font-family: "Poppins";
    padding: 10px;
    font-size: 30px;
    border-radius:10px ;
}
.userinfo{
    display: flex;
    align-items: center;
    gap: 1;
}
.search{
    display: flex;
    background: #caabcf;
    border: none;
    border-radius: 10px;
    align-items: center;
    gap: 5px;
    padding: 4px 12px;
}
.search input{
    color: white;
    border: none;
    background: transparent;
    padding: 10px;
}
.search i{
    justify-content: right;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
.table-container {
    position: relative;
    top: -20px;
    /* background-color: #161016; */
    width: auto;
    height: auto;
    border-radius: 20px;
    border-collapse: collapse;
}

.my-table {
  position: relative;
  justify-content: space-between;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.my-table tbody tr td button{
    background-color: #882897;
    border: none;
    width: 50px;
    height: 30px;
    border-radius: 10px;
    /* margin: 20px; */
    cursor: pointer;
    
}
.tambah{
    font-size: 16px;
    font-family: "Poppins";
    background-color: #882897;
    color: azure;
    width: 12%;
    height: 35px;
    border-radius: 10px;
    position: relative;
    top: 75px;
}

.tambah:hover{
    background-color: #521950;
}

.my-table tbody tr td button:hover{
    background-color: #521950;
}

.my-table thead tr th{
    /* background-color: #521950; */
    padding: 10px 2px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-collapse: collapse;

}

.my-table tbody tr td{
    /* background-color: #b079b9; */
    padding: 10px 2px;
    border-bottom: 1px solid rgb(146, 33, 184);
    border-collapse: collapse;
}

.my-table tbody tr {
    transition: ease-in-out 0.3s;
}

.my-table tbody tr:hover{
    background-color: #AD6FEF;
}

.table-wrap {
    background-color: #caabcf;
    padding: 1rem;
    margin-top: 5rem;
    border-radius: 10px;
    margin-right:55px;
}

.containerhomepage {
    min-width: 100%;
}
.navhomepage{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 80px;
    width: 100%;
}
.navhomepage ul {
    list-style: none;
    cursor: pointer;
    float: right;
    margin-left: 140px;
}
.navhomepage ul li {
    list-style: none;
    display: inline-block;
    color: #AD6FEF;
    padding: 15px 15px;
    font-weight: 400;
}

.nav ul li:hover {
    border-bottom: 3px solid #521950;
    transition: all, 3s ease;
}
.headerhome {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 72%;
    transform: translate(-50%,-50%);   
}
.headerhome h1 {
    color: #fff;
    text-align: left;
    font-family: sans-serif ;

}
.containerform{
    max-width: 1200px;
    padding: 2rem;
    margin: 0 auto;

}
.formpesan form{
    max-width: 50rem;
    margin: 0 auto;
    padding: 2 rem;
    border-radius: 5rem;
    background-color: #AD6FEF;
}
.formpesan form h2{
    text-transform: uppercase;
    color: var(black);
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2.5rem;
}
.formpesan form .box{
    width: 80%;
    border-radius: .5rem;
    padding: 1.2rem 1.5rem;
    font-size: 1rem;
}
.simpan{
    font-size: 16px;
    font-family: "Poppins";
    margin: 10px 0;
    background-color: #882897;
    color: azure;
    width: 12%;
    height: 35px;
    border-radius: 10px;
    position: relative;
}